:root {
    --distance-s: 12px;
    --distance-m: 25px;
    --distance-l: 50px;
    --distance-xl: 100px;
    --distance-xxl: 150px;
    --header-height: 106px;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-size: 18px;
}

body.open, body.open-project {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--distance-m);
    background: #fff;
    z-index: 9999;
}

.header__logo {
    height: 52px;
}

.menu {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    padding: 100px 0 0 var(--distance-l);
    left: 100%;
    transition: all 500ms;
}

.open .menu {
    left: 0;
    transition: all 500ms;
}

.menu__item {
    font-size: 28px;
    color: #000;
    text-decoration: none;
    display: block;
}

.menu__sub-menu {
    position: absolute;
    bottom: var(--distance-l);
}

.menu__sub-menu .menu__item {
    display: inline-block;
}

.menu__sub-menu .menu__item+.menu__item::before {
    content: ' - ';
}

.toggler-nav {
    position: absolute;
    z-index: 9999;
    top: 35px;
    right: 35px;
    width: 45px;
    height: 32px;
    display: block;
}

.toggler-nav, .toggler-nav:focus, .toggler-nav:active {
    outline: none;
}

.toggler-nav__message, .toggler-nav::before, .toggler-nav::after {
    text-indent: -9999px;
    display: block;
    background: #979797;
    height: 6px;
    border-radius: 5px;
    content: ' ';
    width: 100%;
    position: absolute;
    transition: all 500ms;
}

.toggler-nav__message {
    top: 50%;
    margin-top: -3px;
}

.toggler-nav::before {
    top: 0;
}

.toggler-nav::after {
    bottom: 0;
}

.open .toggler-nav__message {
    opacity: 0;
    transition: all 500ms;
}

.open .toggler-nav::before {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -3px;
    transition: all 500ms;
}

.open .toggler-nav::after {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -3px;
    transition: all 500ms;
}

.section {
    padding: var(--header-height) var(--distance-m) var(--distance-m) var(--distance-m);
    min-height: 100vh;
    z-index: -1;
    opacity: 0;
    height: 100vh;
    box-sizing: border-box;
    transition: none;
    position: absolute;
    left: 0;
    right: 0;
}

.section__header {
    display: flex;
    justify-content: space-between;
}

.more-info {
    background: #D8D8D8;
    padding: var(--distance-m);
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    transition: all 500ms;
    overflow: scroll;
}

.more-info.open {
    top: 136px;
    transition: all 500ms;
    opacity: 1;
    z-index: 3;
}

.active-home .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    z-index: 10;
    opacity: 1;
}

.active-projecte-viewer #projecte-viewer, .active-projectes #projectes, .active-arxius #arxius, .active-rau #rau {
    display: block;
    height: auto;
    opacity: 1;
    z-index: 1;
    transition: all 500ms ease 500ms;
}

#projecte-viewer {
    position: fixed;
    display: block;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: all 500ms;
}

#projecte-viewer.open {
    top: 0;
    opacity: 1;
    z-index: 2;
}

.home__logo {
    width: 180px;
}

.active-home .header__logo {
    display: none;
}

.home__title {
    display: none;
}

.filter {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-right: -15px;
    margin-bottom: var(--distance-m);
    padding-right: var(--distance-m);
}

.filter::-webkit-scrollbar {
    display: none;
}

.filter__item {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.filter__item+.filter__item::before {
    content: ' - ';
}

.grid {
    margin: 0 auto;
}

.grid__image {
    width: 100%;
    min-width: 100%;
    display: block;
}

.item-container__item {
    color: #000;
    display: block;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: var(--distance-m);
    font-weight: 600;
}

.block {
    margin-bottom: var(--distance-m);
    box-sizing: border-box;
}

.block.block--featured {
    padding-top: var(--distance-m);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.block__title {
    text-transform: uppercase;
}

.block__description {
    margin-top: 0;
}

.block__element {
    margin-bottom: var(--distance-m);
}

.block__property {
    display: block;
}

.block__property.block__property--featured {
    margin-bottom: var(--distance-m);
}

.link {
    text-decoration: none;
    color: #000;
}

.projecte-viewer__title {
    margin-bottom: var(--distance-s);
    display: block;
}

.main-carousel {
    height: 60vh;
    margin-bottom: var(--distance-s);
    overflow: hidden;
}

.carousel-cell {
    width: 100%;
    /* full width */
    height: 100%;
    background: #fff;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-cell img {
    display: block;
    max-width: 100%;
    height: auto;
}

.action-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--distance-m);
}

.action-container__link {
    color: #4DABF7;
    text-decoration: none;
}

.grid__item {
    margin-bottom: var(--distance-m);
    display: block;
    width: 100%;
}

@media screen and (min-width: 768px) {
    body.open {
        overflow: auto;
    }
    .header {
        padding: 0;
    }
    .filter {
        text-align: center;
        margin-bottom: var(--distance-l);
    }
    .grid__item {
        width: 250px;
    }
    .home__title {
        display: block;
        text-transform: uppercase;
        font-weight: 300;
    }
    /* menú */
    .toggler-nav {
        display: none;
    }
    .header__logo {
        display: none;
    }
    .menu {
        position: static;
        background: none;
        padding: 0;
    }
    .menu>.menu__item {
        position: fixed;
        border: 2px solid #000;
        top: 0;
        bottom: 0;
        writing-mode: tb-rl;
        transform: rotate(180deg);
        left: 0;
        text-align: right;
        text-transform: uppercase;
        font-size: 26px;
        padding: 35px 2px;
        background-color: #fff;
        transition: left 500ms;
    }
    /*menu home */
    .active-home .menu {
        display: none;
    }
    /*menu arxiu */
    .active-arxius .menu>.menu__item+.menu__item {
        left: 100%;
        margin-left: -70px;
    }
    .active-arxius .menu>.menu__item+.menu__item+.menu__item {
        left: 100%;
        margin-left: -35px;
    }
    .active-arxius .section, .active-arxius .more-info {
        padding: 50px 140px 25px 110px;
    }
    /*menu projectes */
    .active-projectes .menu>.menu__item+.menu__item {
        left: 35px;
    }
    .active-projectes .menu>.menu__item+.menu__item+.menu__item {
        left: 100%;
        margin-left: -35px;
    }
    .active-projectes .section, .active-projectes .more-info {
        padding: 50px 100px 25px 140px;
    }
    /*menu rau*/
    .active-rau .menu>.menu__item+.menu__item {
        left: 35px;
    }
    .active-rau .menu>.menu__item+.menu__item+.menu__item, .active-rau .menu>.menu__sub-menu {
        left: 70px;
        margin-left: 0;
    }
    .active-rau .section {
        padding: var(--distance-l) var(--distance-xl) var(--distance-m) var(--distance-xxl);
    }
    /* ------- */
    .menu__sub-menu {
        position: fixed;
        left: 100%;
        margin-left: -35px;
        bottom: 8px;
        top: auto;
        display: block;
        text-align: center;
        width: 36px;
        transition: all 500ms;
    }
    .menu__sub-menu .menu__item+.menu__item::before {
        content: '';
    }
    .menu__sub-menu .menu__item {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: var(--distance-s);
    }
    .block--main {
        display: inline-block;
        width: 60%;
        vertical-align: top;
        padding-right: var(--distance-l);
        max-width: 710px;
    }
    .block--secundary {
        display: inline-block;
        width: 38%;
        vertical-align: top;
    }
    .block__property--featured {
        display: inline-block;
        margin-right: var(--distance-m);
    }
}